<!DOCTYPE html>
<html>
<head>
	<title>waste recycle </title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
	<link rel="stylesheet" type="text/css" href="../css/profile.css">
	<script type="text/javascript" src="../javascript/profile.js"></script>
</head>
<body>
	<div class="mainWrapper">
			<div class="header">
				<div class="logo">
					<img src="../images/Vignan_Logo.jpg" width="130px" height="130px">
				</div>
				<div class="heading">
					<h1 style="font-size: 25px;">
					VIGNAN'S INSTITUTE OF INFORMATION TECHNOLOGY<br/>WASTE RECYCLE MANAGEMETN SYSTEM</h1>
				</div>
				<div class="profile">
					<div class="profileShowButton" onclick="showButton()"></div>
					<div class="profileInsideDiv">
						<a href=""><button>userName</button></a>
						<a href=""><button>update</button></a>
					</div>
				</div>
			</div>
			<div class="subWrapper">
				<div class="details">
					<h2>NAME</h2>
					<h2>EMAIL</h2>
					<h2>PHONE NUMBER</h2>
					<h2>COMPANY NAME</h2>
					<h2>CITY</h2>
					<h2>AREA</h2>
					<h2>ZIP CODE</h2>
					<h2>STREET</h2>
				</div>
				<div class="sellForm">
					<form action="dataSubmit">
						<select>
							<option>NONE</option>
							<option>SUGARCANE</option>
							<option>CARDBOARD</option>
							<option>WOOD</option>
							<option>PLASTIC</option>
						</select>
						<input type="number" name="amountInTons" placeholder="amount">
					</form>
				</div>
			</div>
		

	</div>
		
</body>
</html>